.main-ui {
    padding: 1rem;
    width: min(calc(100% - 2rem), 32em);
    margin: 0 auto;
}
.top-line {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    h2 {
        color: var(--white);
    }
    .top-line-group-one {
        display: flex;
        button {
            margin: 0 0 0 1rem;
            padding: .5rem;
            appearance: none;
            border-style: none;
            border: 1px solid var(--white);
            background-color: unset;
            color: var(--white);
            font-family: var(--font-stack);
            font-size: 1rem;
            &:hover {
                color: var(--highlight-color-one);
                border-color: var(--highlight-color-one);
            }
        }
    }
}
.todos-list-container {
    display: flex;
    flex-flow: column;
    .list-title {
        font-size: 1.2rem;
        color: var(--white);
        margin: .5rem 0 0;
    }
    .break-message {
        color: var(--white);
        text-align: center;
        margin: .5rem 0 0;
        opacity: .8;
    }
}
.todo-component {
    border: 1px solid var(--white);
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    margin: .5rem 0;
    p {
        padding: 0 1rem;
    }
    .todo-options-group {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: pink;
            width: 33px;
            height: 33px;
            cursor: pointer;
            i {
                pointer-events: none;
            }
        }
        .check-btn {
            background-color: var(--check-btn-color);
        }
        .trash-btn {
            background-color: var(--trash-btn-color);
            border-radius: 0 5px 5px 0;
        }
    }
}
.todo-component.checked-todo {
    opacity: .6;
}

.add-todo-btn {
    padding: .5rem 1rem;
    margin: 1rem 0 0;
    font-size: 1.2rem;
    appearance: none;
    border-style: none;
    background-color: unset;
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
    &:hover {
        transform: scale(.95);
    }

}
@media screen and (min-width: 46em){
    .main-ui {
        margin: 0 0 0 40%;
        width: min(calc(100% - 2rem), 30em);
    }
    .sidebar-toggle-btn {
        display: none;
    }
}