.sidebar-menu {
    background-color: var(--bg-color);
    color: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10vw;
    left: 0;
    padding: 1rem;
    .sidebar-projects {
        display: flex;
        justify-content: space-between;
        padding: 0 0 .5rem;
        border-bottom: 2px solid var(--white);
        margin: 1.5rem 0 0 0;
    }
    ul {
        list-style: none;
        font-size: 1rem;
        font-family: var(--font-stack);
        font-weight: 600;
        li {
            margin: .5em 0 .5em;
        }
    }
    .projects-list ul {
        font-weight: 500;
        li {
            border-bottom: 2px dotted var(--white);
            padding: 0 0 .2rem;
        }
    }
}
.sidebar-wrapper.hide {
    display: none;
}
.sidebar-wrapper {
    position: absolute;
    top: 3.19rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    ul a, ul li {
        cursor: pointer;
        &:hover {
            color: var(--highlight-color-one);
        }
    }
}

@media screen and (min-width: 46em){
    .sidebar-wrapper.hide {
        display: block;
    }
    .sidebar-wrapper {
        position: absolute;
        top: 3.19rem;
        left: 0;
        // right: 68vw; OG
        right: max(68vw, 80%);
        bottom: 0;
        background-color: var(--bg-color);
        .sidebar-menu {
            position: unset;
        }
        ul a, ul li {
            cursor: pointer;
            &:hover {
                color: var(--highlight-color-one);
            }
        }
    }
    
}